
1
10
2
3
4
5
6
7
8
9
coarse10_OMP_2
coarse10_OMP_4
coarse10_PTH_2
coarse10_PTH_4
coarse9_OMP_2
coarse9_OMP_4
coarse9_PTH_2
coarse9_PTH_4
fine10_OMP_2
fine10_OMP_4
fine10_PTH_2
fine10_PTH_4
fine1_OMP_2
fine1_OMP_4
fine1_PTH_2
fine1_PTH_4
fine2_OMP_2
fine2_OMP_4
fine2_PTH_2
fine2_PTH_4
fine3_OMP_2
fine3_OMP_4
fine3_PTH_2
fine3_PTH_4
fine4_OMP_2
fine4_OMP_4
fine4_PTH_2
fine4_PTH_4
fine5_OMP_2
fine5_OMP_4
fine5_PTH_2
fine5_PTH_4
fine6_OMP_2
fine6_OMP_4
fine6_PTH_2
fine6_PTH_4
fine7_OMP_2
fine7_OMP_4
fine7_PTH_2
fine7_PTH_4
fine8_OMP_2
fine8_OMP_4
fine8_PTH_2
fine8_PTH_4
fine9_OMP_2
fine9_OMP_4
fine9_PTH_2
fine9_PTH_4
Build/serial
Build/pthreads_fine
Build/pthreads_coarse
Build/openmp_fine
Build/openmp_coarse
